<table class="table table-striped">
  <thead class="table-primary">
    <tr>
      <th>ID</th><th>From</th><th>To</th><th>Component</th>
      <th>FLC Qty</th><th>Component Qty</th><th>Status</th><th>Date/Time</th>
    </tr>
  </thead>
  <tbody>
    {% for d in dispatches %}
      <tr>
        <td>{{ d.id }}</td>
        <td>{{ d.from_role }}</td>
        <td>{{ d.to_role }}</td>
        <td>{{ d.component }}</td>
        <td>{{ d.flc_qty }}</td>
        <td>{{ d.component_qty }}</td>
        <td>{{ d.status }}</td>
        <td>{{ d.date_time }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
